body {
    font-family: Arial,  sans-serif; /* keluarga font */
    font-size: 20px; /* Ukuran font utama pada tag <p></p> */
    background-color: #ffffff; /* Warna latar belakang laman web */
    color: #333333; /* Warna teks */ 
}
h1 {
    color: #000000; /* Warna tajuk (header)*/
    border: #000000;
    font-size: 34px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}
h2 {
    color: #1a8577; /* Warna tajuk (header)*/
    font-size: 24px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}
li {
    color: rgb(57, 57, 57);
}