body {
    font-family: Arial,  sans-serif; /* keluarga font */
    font-size: 20px; /* Ukuran font utama pada tag <p></p> */
    background-color: #000000;
    color: #443b3b; /* Warna teks */ 
}
h1 {
    color: #003cff; /* Warna tajuk (header)*/
    border: #000000;
    font-size: 34px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}
h2 {
    color: #ff0909; /* Warna tajuk (header)*/
    font-size: 24px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}
li {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
